/* PROFILE */
.profile {}

.profile__dog{
    width: 10%;
    top: 0%;
    left: clamp(0px, 11%, calc((var(--vw) - 1400px) / 2));
    transform: translate(calc(100% + 20px),-70%);
    z-index: 7;
}

.profile__inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 11%;
    margin: 15em auto 0 auto;
}

.profile__column {
    background-color: var(--gray);
    border: 2px solid var(--text-color);
    border-radius: 36px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5%;
    padding: 8em 10%;
}

.profile__column:after {
   content: '';
   border-right: 2px solid var(--text-color);
   border-bottom: 2px solid var(--text-color);
   border-radius: 36px;
   position: absolute;
   top: 12px;
   left: 12px;
   width: 100%;
   height: 100%;
   z-index: -1;

   

   clip-path: polygon(
        3% 100%,  
        100% 100%, 
        100% 3%  
    );
}

.profile__title{
    width: 27%;
    top: 2em;
    right: 5%;
}

.profile__portrait {
    width: 40%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border: 2px solid var(--text-color);
    border-radius: 24px;
}

.profile__portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile__wrapper {
    width: 50%;
}



.profile__name {
   
}

.profile__text {
    margin-top: 1.7em;
    line-height: 1.8;
}

.profile__btn {
    margin-top: 1.7em;
}

/* CONTACT */
.contact {
    padding: 0 11%;
    margin: 13em auto;
}

.contact__inner {
    max-width: 1400px;
    margin: 0 auto;
}

.contact__title{
    margin: 0 auto;
    width: 34%;
}

.contact__text {
    margin-top: 2em;
}

.contact__decoration{
    width: 19%;
    bottom: -100%;
    right: -5%;
}

@media (max-width: 767px) {
    .profile__inner {
        width: 90%;
        margin: 7em auto 0em auto;
        flex-direction: column;
    }

    .profile__slice{
        top: 0%;
        left: auto;
        right: 0%;
        transform: translate(0%,-50%);
        z-index: -1;
    }

    .profile__portrait{
        order: 1;
        width: 100%;
        margin-top: 1em;
    }

    .profile__wrapper{
        order: 0;
        width: 100%;
    }

    .profile__questionnaire{
        width: 90%;
        margin-top: 3em;
    }

    /* CONTACT */
    .contact__inner {
        width: 90%;
        margin: 5em auto 5em auto;
    }
}