/* WORK */
.work {}

.work__inner {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 11%;
    margin: 11em auto 4em auto;
}

.work__top-movie {
    width: 100%;
    aspect-ratio: 2/1;
    border: 2px solid var(--text-color);
    overflow: hidden;
}

.work__top-image{
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

.work__video-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.work__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.work__top-movie img {
    width: 45%;
    height: auto;
    object-fit: cover;
}

.work__top-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.work__wrapper {
    margin: 2em auto 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.work__information{
    width: 64%;
}

.work__detail-text {
    margin-top: 0.5em;
    line-height: 1.3;
}

.work__sub-title{
    margin-top: 1.5em;
    line-height: 1.7;
}

.work__text {
    margin-top: 1.5em;
    line-height: 1.7;
}

.work__text:not(:nth-child(3)){
    margin-top: 0.5em;
}

.work__detail-image-wrap{
    width: 24%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
}

.work__detail-image {
    overflow: hidden;
    aspect-ratio: 3 / 4;
    border: 2px solid var(--text-color);
    border-radius: 24px;
}

.work__detail-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work__btn {
    margin: 5em auto 0 auto;
}

@media (max-width: 767px) {
    .work__inner {
        padding: 0 5%;
        margin: 7em auto 5em auto;
        flex-direction: column;
    }

    .work__wrapper {
        margin: 1em auto 0 0;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        row-gap: 3em;
    }

    .work__information{
        width: 100%;
    }

    .work__detail-image-wrap{
        width: 100%;
    }

    .work__top-image{
        width: 100%;
        height: 20em;
        overflow: hidden;
}

}