/* フッター */
.footer {
    border-top: 2px solid var(--text-color);
}

.footer__illust{
    width: 72%;
    right: 0%;
    bottom: 7%;
}

.footer__inner {
    width: 100%;
    padding: 9em 11% 2em 11%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__nav-box{
    margin-top: 3em;
    flex-direction: column; 
    gap: 3em;
}

.footer__logo{
    width: 12em;
}

.footer__copyright{
    margin-top: 9em;
}

@media (max-width: 767px) {

    .footer__inner {
        padding: 5em 5% 7em 5%;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__nav-box{
        margin-top: 2em;
        align-items: flex-start;
    }

    .footer__copyright{
        padding:0.5em 5%;
    }
}