.header {
    border: 3px solid var(--text-color);
    background-color: var(--background-base);
    width: 100%;
    z-index: 40;
    top: 0%;
    left: 0%;
}

.header__inner {
    margin: 0 auto;
    width: 100%;
    height: 100px;
    padding: 0 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    width: 8em;
    z-index: 80;
}

.header__logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__nav-box {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 3.6em;
}

.header__nav-text-box {
}

@media (max-width: 1500px) {
    .header__inner{
        height: 80px;
    }
}

@media (max-width: 767px) {
    .header__inner {
    width: 100%;
    padding: 2em calc(5% + 10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    /* ハンバーガーボタン */
    .header__hamburger-button{
       width: 3em;
       top: 50%;
       right: calc(5% + 10px);
       transform: translate(5%,-50%);
       z-index: 80;
    }

    .header__hamburger-border{
        border: 1.5px solid var(--text-color);
        transition: all 0.3s ease;
    }

    .header__hamburger-border:not(:first-child){
       margin-top: 0.4em;
    }

    .header__hamburger-button--open .header__hamburger-border{
        transition: all 0.3s ease;
    }

    .header__hamburger-button--open .header__hamburger-border:first-child{
        transform: rotate(19.8deg);
        transform-origin: 0% 0%;
    }

    .header__hamburger-button--open .header__hamburger-border:nth-child(2){
        opacity: 0;
    }

    .header__hamburger-button--open .header__hamburger-border:last-child{
        transform: rotate(-19.8deg);
        transform-origin: 0 100%;
    }

    /* ハンバーガーメニュー */
    .header__hamburger-wrap{
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        background-color: var(--accent-color);
        top: 50%;
        left: 50%;
        transform: translate(50%,-50%);
        z-index: 70;
        transition: all 0.5s ease;
    }

    .header__hamburger-wrap-background{
        
        background-size: cover;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        mix-blend-mode: multiply;
        opacity: 0.5;
    }

    .header__hamburger-wrap--open{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 0.5s ease;
    }

    .header__hamburger-nav-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2em;
        top: 40%;
        left: 8%;
        transform: translateY(-50%);
    }

    .header__hamburger-nav-text-box {
        line-height: 1.1;
        padding: 0 0.2em;
        width: fit-content;
        height: fit-content;
        color:var(--background-base);
        background-color:var(--text-color);
        border: 2px solid var(--text-color);
        font-weight: 300;
    }

    .header__hamburger-deco{
        width: 30%;
        bottom: 0%;
        right: 0%;
        transform: translate(-50%,0%);
        z-index: -1;
    }
}