.header {
    border: 3px solid var(--text-color);
    background-color: var(--background-base);
    width: 100%;
    z-index: 60;
    top: 0%;
    left: 0%;
}

.header__inner {
    margin: 0 auto;
    width: 100%;
    height: 90px;
    padding: 0 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    width: 7.5em;
    z-index: 80;
}

.header__logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__nav-box {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 3.6em;
}


@media (max-width: 1500px) {
    .header__inner{
        height: 77px;
    }
}

@media (max-width: 767px) {
    .header{
        border: 2px solid var(--text-color);
    }

    .header__inner {
        width: 100%;
        height: 60px;
        padding: 0 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo{
        width: 5em;
        z-index: 80;
    }

    .header__nav-box{
        display: none;
    }

    /* ハンバーガーボタン */
    .header__hamburger-button{
       width: 2.4em;
       top: 50%;
       right: calc(5% + 10px);
       transform: translate(5%,-50%);
       z-index: 80;
    }

    .header__hamburger-border{
        border: 1.5px solid var(--text-color);
        transition: all 0.3s ease;
        border-radius: 5px;
    }

    .header__hamburger-border:not(:first-child){
       margin-top: 0.45em;
    }

    .header__hamburger-button--open .header__hamburger-border{
        transition: all 0.3s ease;
    }

    .header__hamburger-button--open .header__hamburger-border:first-child{
        transform: rotate(34deg);
        transform-origin: left center;
    }

    .header__hamburger-button--open .header__hamburger-border:nth-child(2){
        opacity: 0;
    }

    .header__hamburger-button--open .header__hamburger-border:last-child{
        transform: rotate(-34deg);
        transform-origin: left center;
    }

    /* ハンバーガーメニュー */
    .header__hamburger-wrap{
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        border: solid 2px var(--text-color);
        background-color: var(--background-base);
        top: 50%;
        left: 50%;
        transform: translate(50%,-50%);
        z-index: 70;
        transition: all 0.5s ease;
    }

    .header__hamburger-wrap-background{
        width: 100%;
        height: 100%;
        background-image: url("/image/footer-illust.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
    }

    .header__hamburger-wrap--open{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 0.5s ease;
    }

    .header__hamburger-nav-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2em;
        top: 40%;
        left: 8%;
        transform: translateY(-50%);
    }

    .header__hamburger-nav-text-box {
       
       
        color:var(--text-colors);
     
    }

    .header__hamburger-deco{
        width: 30%;
        bottom: 0%;
        right: 0%;
        transform: translate(-50%,0%);
        z-index: -1;
    }
}